# 0.0 Imports

In [3]:
import pandas as pd
import numpy  as np
import inflection
from typing import Tuple
from functools import reduce

In [2]:
!pip install inflection

Collecting inflection
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Installing collected packages: inflection
Successfully installed inflection-0.5.1

# 1.0 Loading Data

In [4]:
%%bigquery df_raw

SELECT * FROM gcpproject-394221.ecommerce_database.ecommerce_table2 WHERE InvoiceDate <= "2023-05-15"

Query is running:   0%|          |

Downloading:   0%|          |

In [5]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,576899,22698,PINK REGENCY TEACUP AND SAUCER,18,2017-11-15,2.95,14911.0,EIRE
1,576899,22699,ROSES REGENCY TEACUP AND SAUCER,18,2017-11-15,2.95,14911.0,EIRE
2,576899,22697,GREEN REGENCY TEACUP AND SAUCER,18,2017-11-15,2.95,14911.0,EIRE
3,576899,22843,BISCUIT TIN VINTAGE GREEN,2,2017-11-15,6.75,14911.0,EIRE
4,576899,22842,BISCUIT TIN VINTAGE RED,2,2017-11-15,6.75,14911.0,EIRE

## 1.1 Rename Columns

In [7]:
# Mudar para snake case
old_cols = ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country']

snake_case = lambda x: inflection.underscore(x)

new_cols = list( map(snake_case, old_cols))
df_raw.columns = new_cols

## 1.2 Data Dimensions

In [9]:
print("Número de linhas do conjunto de dados: {}".format(df_raw.shape[0]))
print("Número de colunas do conjunto de dados: {}".format(df_raw.shape[1]))

Número de linhas do conjunto de dados: 404772
Número de colunas do conjunto de dados: 8

## 1.3 Data Types

In [10]:
df_raw.dtypes

invoice_no       object
stock_code       object
description      object
quantity          Int64
invoice_date     dbdate
unit_price      float64
customer_id     float64
country          object
dtype: object

## 1.4 Change Types

In [12]:
df_raw['invoice_date'] = pd.to_datetime(df_raw['invoice_date'])
df_raw['customer_id'] = df_raw['customer_id'].astype(int)

# 2.0 Data Preparation